# This file contains configuration options for traffic.py.  

MAX_DEPTH = {{ traffic_max_depth }}  # minimum click depth
MIN_DEPTH = {{ traffic_min_depth}} # maximum click depth
MAX_WAIT = {{ traffic_max_wait }}  # maximum amount of time to wait between HTTP requests
MIN_WAIT = {{ traffic_min_wait }}  # minimum amount of time allowed between HTTP requests
DEBUG = {{ traffic_debug }}  # set to True to enable useful console output
# must use a valid user agent or sites will hate you
USER_AGENT = '{{ traffic_user_agent }}'

# use this single item list to test how a site responds to this crawler
# be sure to comment out the list below it.
#ROOT_URLS = ["https:///digg.com/"]


ROOT_URLS = [
    "https://www.ceoexpress.com",
    "https://wikipedia.org",
    "https://ebay.com",
    "https://craigslist.org",
    "https://reddit.com",
    "https://instagram.com",
    "https://imdb.com",
    "https://huffingtonpost.com",
    "https://nytimes.com",
    "https://msn.com",
    "https://buzzfeed.com",
    "https://homedepot.com",
    "https://target.com",
    "https://bestbuy.com",
    "https://about.com",
    "https://intuit.com",
    "https://cnet.com",
    "https://verizonwireless.com",
    "https://reference.com",
    "https://fedex.com",
    "https://ancestry.com",
    "https://swagbucks.com",
    "https://comcast.com",
    "https://hp.com",
    "https://steamcommunity.com",
    "https://wow.com",
    "https://wikimedia.org",
    "https://io9.com",
    "https://dailymotion.com",
    "https://nbcsports.com",
    "https://walgreens.com",
    "https://match.com",
    "https://photobucket.com",
    "https://barnesandnoble.com",
    "https://bhphotovideo.com",
    "https://nhl.com",
    "https://archive.org",
    "https://merriam-webster.com",
    "https://booking.com",
    "https://bodybuilding.com",
    "https://sourceforge.net",
    "https://evite.com",
    "https://careerbuilder.com",
    "https://shareasale.com",
    "https://www.abs-cbnnews.com",
    "https://roblox.com",
    "https://lotterypost.com",
    "https://www.dfas.mil",
    "https://www.dia.mil",
    "https://www.careerjournal.com",
    "https://www.jacksonhewitt.com",
    "https://factcheck.org",
    "https://audacityteam.org",
    "https://7-zip.org",
    "https://amazon.com",
    "https://cnn.com",
    "https://espn.go.com",
    "https://apple.com",
    "https://aol.com",
    "https://comcast.net",
    "https://www.thelayoff.com",
    "https://groupon.com",
    "https://stackoverflow.com",
    "https://usatoday.com",
    "https://slickdeals.net",
    "https://businessinsider.com",
    "https://dailymail.co.uk",
    "https://lowes.com",
    "https://bleacherreport.com",
    "https://macys.com",
    "https://webmd.com",
    "https://trulia.com",
    "https://answers.com",
    "https://newegg.com",
    "https://deviantart.com",
    "https://nih.gov",
    "https://wsj.com",
    "https://theguardian.com",
    "https://goodreads.com",
    "https://force.com",
    "https://wunderground.com",
    "https://ca.gov",
    "https://overstock.com",
    "https://nbcnews.com",
    "https://drudgereport.com",
    "https://tmz.com",
    "https://okcupid.com",
    "https://bloomberg.com",
    "https://accuweather.com",
    "https://infusionsoft.com",
    "https://meetup.com",
    "https://woot.com",
    "https://abcnews.go.com",
    "https://mashable.com",
    "https://people.com",
    "https://xfinity.com",
    "https://mailchimp.com",
    "https://united.com",
    "https://allrecipes.com",
    "https://samsclub.com",
    "https://4dsply.com",
    "https://indiatimes.com",
    "https://rei.com",
    "https://cars.com",
    "https://myway.com",
    "https://toysrus.com",
    "https://stumbleupon.com",
    "https://greatergood.com",
    "https://thefreedictionary.com",
    "https://orbitz.com",
    "https://java.com",
    "https://www.move.mil",
    "https://ign.com",
    "https://lifehacker.com",
    "https://retailmenot.com",
    "https://nordstrom.com",
    "https://sears.com",
    "https://slate.com",
    "https://ticketmaster.com",
    "https://nba.com",
    "https://houzz.com",
    "https://dell.com",
    "https://disney.com",
    "https://wayfair.com",
    "https://ehow.com",
    "https://bridaltune.com",
    "https://duckduckgo.com",
    "https://consumerreports.org",
    "https://zergnet.com",
    "https://directv.com",
    "https://edmunds.com",
    "https://fiverr.com",
    "https://gamespot.com",
    "https://icims.com",
    "https://seekingalpha.com",
    "https://androidcentral.com",
    "https://citrix.com",
    "https://nbc.com",
    "https://politico.com",
    "https://timeanddate.com",
    "https://cmu.edu",
    "https://cert.org",
    "https://sei.cmu.edu",
    "https://www.army.mil",
    "https://www.navy.mil",
    "https://www.af.mil",
    "https://www.marines.mil",
    "https://tricare.mil",
    "https://www.dla.mil",
    "https://www.darpa.mil",
    "https://militaryonesource.mil",
    "https://www.dma.mil",
    "https://www.dss.mil",
    "https://cac.mil",
    "https://www.jcs.mil",
    "https://www.africom.mil",
    "https://mda.mil",
    "https://www.dcma.mil",
    "https://dsca.mil",
    "https://health.mil",
    "https://www.soc.mil",
    "https://www.jsf.mil",
    "https://www.norad.mil",
    "https://www.dcaa.mil",
    "https://ssa.gov",
    "https://www.1040.com",
    "https://www.adexa.com",
    "https://www.ithound.com",
    "https://mobile.thehill.com",
    "https://modeling.about.com",
    "https://modeltrains.about.com",
    "https://money.cnn.com",
    "https://qbittorrent.org",
    "https://gimp.org",
    "https://spotify.com",
    "https://weebly.com",
    "https://ups.com",
    "https://npr.org",
    "https://adobe.com",
    "https://likes.com",
    "https://coupons.com",
    "https://mint.com",
    "https://cracked.com",
    "https://yellowpages.com",
    "https://deadspin.com",
    "https://cbs.com",
    "https://hootsuite.com",
    "https://fitbit.com",
    "https://ew.com",
    "https://legacy.com",
    "https://marketwatch.com",
    "https://audible.com",
    "https://qvc.com",
    "https://faithtap.com",
    "https://hgtv.com",
    "https://wix.com",
    "https://today.com",
    "https://littlethings.com",
    "https://kbb.com",
    "https://addthis.com",
    "https://kotaku.com",
    "https://ebates.com",
    "https://slideshare.net",
    "https://popsugar.com",
    "https://moba-stream.com",
    "https://chicagotribune.com",
    "https://reuters.com",
    "https://fool.com",
    "https://tvguide.com",
    "https://distractify.com",
    "https://usnews.com",
    "https://topix.com",
    "https://bizjournals.com",
    "https://city-data.com",
    "https://shutterstock.com",
    "https://vrbo.com",
    "https://mozilla.org",
    "https://officedepot.com",
    "https://jalopnik.com",
    "https://hollywoodreporter.com",
    "https://xda-developers.com",
    "https://macrumors.com",
    "https://ny.gov",
    "https://cafemom.com",
    "https://worldstarhiphop.com",
    "https://conservativetribune.com",
    "https://kmart.com",
    "https://speedtest.net",
    "https://stanford.edu",
    "https://viralnova.com",
    "https://investopedia.com",
    "https://tigerdirect.com",
    "https://foxsports.com",
    "https://trello.com",
    "https://fatwallet.com",
    "https://arstechnica.com",
    "https://lwn.net",
    "https://www.nationalguard.mil",
    "https://google.com",
    "https://wireshark.org",
    "https://www.yss.com",
    "https://zenhabits.net",
    "https://zea.wikipedia.org",
    "https://za.wikipedia.org",
    "https://youreconomy.org",
    "https://yucatan.backpage.mx",
    "https://yahoo.match.com",
    "https://xfinity.cnbc.com",
    "https://www.cdc.gov",
    "https://www.zergnet.com",
    "https://www.ziffdavis.com",
    "https://www.zepol.com",
    "https://www.yourmiddleeast.com",
    "https://www.yss.com",
    "https://www.yourversion.com",
    "https://www.yhd.com",
    "https://www.worldairlineawards.com",
    "https://www.womenshealthmag.com",
    "https://www.wolframalpha.com",
    "https://www.wolfram.com",
    "https://www.witi.com",
    "https://www.wiseradar.com",
    "https://www.winzip.com",
    "https://www.wine.com",
    "https://www.wimp.com",
    "https://www.vos.noaa.gov",
    "https://www.visitorville.com",
    "https://www.vikings.com",
    "https://www.vice.com",
    "https://www.va.gov",
    "https://www.usxpress.com",
    "https://www.usairways.com",
    "https://www.twilert.com",
    "https://www.tvguide.com",
    "https://www.tribpub.com",
    "https://www.traveltune.com",
    "https://www.travelpod.com",
    "https://www.trackurstatus.com",
    "https://www.toptensocialmedia.com",
    "https://www.toptenreviews.com",
    "https://www.surfwax.com",
    "https://www.sublimetext.com",
    "https://www.stratcom.mil",
    "https://www.stopfakes.gov",
    "https://www.stanford.edu",
    "https://www.stanfordchildrens.org",
    "https://www.spotify.com",
    "https://www.spj.org",
    "https://www.score.org",
    "https://www.science.gov",
    "https://www.rollingstone.com",
    "https://www.rferl.org",
    "https://www.register.com",
    "https://www.redskins.com",
    "https://www.reddit.com",
    "https://www.ready.gov",
    "https://www.qvc.de",
    "https://www.psu.edu",
    "https://www.procon.org",
    "https://www.plus.google.com",
    "https://www.planethistory.com",
    "https://www.philly.com",
    "https://www.periscope.tv",
    "https://www.popysdiary.com",
    "https://www.pearson.com",
    "https://www.patriots.com",
    "https://www.oyster.com",
    "https://www.ookla.com",
    "https://www.oemsecrets.com",
    "https://www.odfl.com",
    "https://www.northernlight.com",
    "https://www.northamericanwhitetail.com",
    "https://www.north-africa.com",
    "https://www.nordeste.com",
    "https://www.noradsanta.org",
    "https://www.nndb.com",
    "https://www.nmcrs.org",
    "https://www.nilemedia.com",
    "https://www.nike.com",
    "https://www.nih.gov",
    "https://www.nic.at",
    "https://www.nflplayerengagement.com",
    "https://www.nflplayercare.com",
    "https://www.newyorker.com",
    "https://www.newwebdirectory.com",
    "https://www.newsy.com",
    "https://www.newsweek.com",
    "https://www.newstips.org",
    "https://www.newsroom.aaa.com",
    "https://www.newsmax.com",
    "https://www.newsisfree.com",
    "https://www.newcars.com",
    "https://www.netbase.com",
    "https://www.nbda.org",
    "https://www.natsci.colostate.edu",
    "https://www.naric.com",
    "https://www.nannynetwork.com",
    "https://www.nadaguides.com",
    "https://www.myparentime.com",
    "https://www.mozilla.com",
    "https://www.movabletype.com",
    "https://www.motherjones.com",
    "https://www.mmh.com",
    "https://www.miga.org",
    "https://www.microsoftvirtualacademy.com",
    "https://www.miamiindulge.com",
    "https://www.miamidolphins.com",
    "https://www.memri.org",
    "https://www.meforum.org",
    "https://www.meed.com",
    "https://www.mediamiser.com",
    "https://www.mbp.state.md.us",
    "https://www.mba-online-program.com",
    "https://www.mayoclinic.org",
    "https://www.manta.com",
    "https://www.majuredata.com",
    "https://www.makeup.com",
    "https://www.lyricsworld.com",
    "https://www.lpaonline.org",
    "https://www.yss.com",
    "https://zenhabits.net",
    "https://zea.wikipedia.org",
    "https://za.wikipedia.org",
    "https://youreconomy.org",
    "https://yucatan.backpage.mx",
    "https://yahoo.match.com",
    "https://xfinity.cnbc.com",
    "https://www.cdc.gov",
    "https://www.zergnet.com",
    "https://www.ziffdavis.com",
    "https://www.zepol.com",
    "https://www.yourmiddleeast.com",
    "https://www.yummynames.com",
    "https://www.yss.com",
    "https://www.yourversion.com",
    "https://www.yhd.com",
    "https://www.worldairlineawards.com",
    "https://www.womenshealthmag.com",
    "https://www.wolframalpha.com",
    "https://www.wolfram.com",
    "https://www.witi.com",
    "https://www.wiseradar.com",
    "https://www.winzip.com",
    "https://www.wine.com",
    "https://www.wimp.com",
    "https://www.vos.noaa.gov",
    "https://www.visitorville.com",
    "https://www.vikings.com",
    "https://www.vice.com",
    "https://www.va.gov",
    "https://www.usxpress.com",
    "https://www.usairways.com",
    "https://www.twilert.com",
    "https://www.tvguide.com",
    "https://www.tribpub.com",
    "https://www.traveltune.com",
    "https://www.travelpod.com",
    "https://www.trackurstatus.com",
    "https://www.toptensocialmedia.com",
    "https://www.toptenreviews.com",
    "https://www.surfwax.com",
    "https://www.sublimetext.com",
    "https://www.stratcom.mil",
    "https://www.stopfakes.gov",
    "https://www.stanford.edu",
    "https://www.stanfordchildrens.org",
    "https://www.spotify.com",
    "https://www.spj.org",
    "https://www.score.org",
    "https://www.science.gov",
    "https://www.rollingstone.com",
    "https://www.rferl.org",
    "https://www.register.com",
    "https://www.redskins.com",
    "https://www.reddit.com",
    "https://www.ready.gov",
    "https://www.qvc.de",
    "https://www.psu.edu",
    "https://www.procon.org",
    "https://www.plus.google.com",
    "https://www.planethistory.com",
    "https://www.philly.com",
    "https://www.periscope.tv",
    "https://www.popysdiary.com",
    "https://www.pearson.com",
    "https://www.patriots.com",
    "https://www.oyster.com",
    "https://www.ookla.com",
    "https://www.oemsecrets.com",
    "https://www.odfl.com",
    "https://www.northernlight.com",
    "https://www.northamericanwhitetail.com",
    "https://www.north-africa.com",
    "https://www.nordeste.com",
    "https://www.noradsanta.org",
    "https://www.nndb.com",
    "https://www.nmcrs.org",
    "https://www.nilemedia.com",
    "https://www.nike.com",
    "https://www.nih.gov",
    "https://www.nic.at",
    "https://www.nflplayerengagement.com",
    "https://www.nflplayercare.com",
    "https://www.newyorker.com",
    "https://www.newwebdirectory.com",
    "https://www.newsy.com",
    "https://www.newsweek.com",
    "https://www.newstips.org",
    "https://www.newsroom.aaa.com",
    "https://www.newsmax.com",
    "https://www.newsisfree.com",
    "https://www.newcars.com",
    "https://www.netbase.com",
    "https://www.nbda.org",
    "https://www.natsci.colostate.edu",
    "https://www.naric.com",
    "https://www.nannynetwork.com",
    "https://www.nadaguides.com",
    "https://www.myparentime.com",
    "https://www.mozilla.com",
    "https://www.movabletype.com",
    "https://www.motherjones.com",
    "https://www.mmh.com",
    "https://www.miga.org",
    "https://www.microsoftvirtualacademy.com",
    "https://www.miamiindulge.com",
    "https://www.miamidolphins.com",
    "https://www.memri.org",
    "https://www.meforum.org",
    "https://www.meed.com",
    "https://www.mediamiser.com",
    "https://www.mbp.state.md.us",
    "https://www.mba-online-program.com",
    "https://www.mayoclinic.org",
    "https://www.manta.com",
    "https://www.majuredata.com",
    "https://www.makeup.com",
    "https://www.lyricsworld.com",
    "https://www.lpaonline.org"
]


# items can be a URL "https:///t.co" or simple string to check for "amazon"
blacklist = [
    "https://t.co", 
	"t.umblr.com", 
	"messenger.com", 
	"itunes.apple.com", 
	"l.facebook.com", 
	"bit.ly", 
	"mediawiki", 
	".css", 
	".ico", 
	".xml", 
	"intent/tweet", 
	"twitter.com/share", 
	"signup", 
	"login", 
	"dialog/feed?", 
	".png", 
	".jpg", 
	".json", 
	".svg", 
	".gif", 
	"zendesk",
	"clickserve"
]
